package app

import (
	"github.com/dedovvlad/{{ dasherize .Name }}/internal/config"
)


// ConfigureService конфигурирует сервис
func (srv *Service) ConfigureService() error {
	_, err := config.InitConfig(version.SERVICE_NAME)
	if err != nil {
		return err
	}

	return nil
}
