package app

import (
	"database/sql"
	"github.com/dedovvlad/{{ dasherize .Name }}/internal/config"
	"github.com/dedovvlad/{{ dasherize .Name }}/version"
)


// ConfigureService конфигурирует сервис
func (srv *Service) ConfigureService() error {
	cfg, err := config.InitConfig(version.SERVICE_NAME)
	if err != nil {
		return err
	}

	_, err = sql.Open("postgres", cfg.DB)
	if err != nil {
		return err
	}

	return nil
}
